ScriptInstaller.nsi
ffmpeg_win
venv
YoutubetoPremiere Installer.exe
YoutubetoPremiere.exe
_Internal
build
youtubetoPremiere.spec
YoutubetoPremiere-WinInstaller.exe
com.youtubetopremiere.YoutubetoPremiere.plist
node_modules
.venv
app/__pycache__/routes.cpython-38.pyc
app/__pycache__/utils.cpython-38.pyc
app/__pycache__/video_processing.cpython-38.pyc

