ScriptInstaller.nsi
ffmpeg
venv
YoutubetoPremiere Installer.exe
YoutubetoPremiere.exe
_Internal
build
youtubetoPremiere.spec
YoutubetoPremiere-WinInstaller.exe
com.youtubetopremiere.YoutubetoPremiere.plist
